<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Sign up'}) %>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Sign Up</h1>
    <form action="/sessions/members" method="POST">
        Username: <input required type="text" name="username"/><br>
        Password: <input required type="text" name="password"><br>
        Your First Name: <input required type="text" name="member_name"><br>
        <input type="submit" name="" value="Sign Up"/>
    </form>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
