<footer>
    <h2>&copy; 2024 Time to Tennis</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courts">Reserve a court</a></li>
            <li><a href="/member">My Account</a></li>
        </ul>
    </nav>
</footer>