<header>
    <h1>Time To Tennis</h1>
    <nav>

            <a href="/">Home</a></li>
            <a href="/courts">Reserve a court</a>
            <a href="/groups">Join a group</a>
            <% if (currentMember) { %>
            <h4>Welcome <%= currentMember.username %></h4>
            <a href="/members/<%= currentMember._id %>/edit">Edit My Account</a>
           <form action="/sessions/?_method=DELETE" method="POST">
             <input type ="submit" value="Logout"/> 
            </form>
        <%  } else { %>
        <a class="nav-link" href="/sessions/members/new">Sign up</a>
        <a class="nav-link" href="/sessions/new">Log In</a>
        <% } %>
        </ul>
    </nav>
</header>

      
       