<header>
    <h1>Time To Tennis</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gourts">Reserve a court</a></li>
            <li><a href="/groups">Join a group</a></li>
            <li><a href="#">My Account</a></li>
        </ul>
    </nav>
</header>
