<header>
    <h1>Time To Tennis</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courts">Reserve a court</a></li>
            <li><a href="/groups">Join a group</a></li>
            <% if (currentMember) { %>
            <h2>Welcome <%= currentMember.username %></h2>
            <li><a href="/members/<%= currentMember._id %>/edit">Edit My Account</a></li>
            <li><form action="/sessions/?_method=DELETE" method="POST">
             <input type ="submit" value="Logout"/> 
            </form></li>
        <%  } else { %>
        <li><a class="nav-link" href="/sessions/members/new">Sign up</a></li>
        <li><a class="nav-link" href="/sessions/new">Log In</a></li>
        <% } %>
        </ul>
    </nav>
</header>

      
       